.sidenav-container {
  height: 90%;
}

.sidenav {
  position: absolute;
  width: 200px;
}

.mat-toolbar.mat-primary {
  background-color: gray;
  text-transform: uppercase;
}

.logo {
  height: 70px;
  width: 95px;
  margin-left: -25px;
  margin-right: -10px;
}

.spacer {
  flex: 1 1 auto;
}

mat-nav-list a {
  text-transform: uppercase;
}

.mat-nav-list a.active {
  background: #D85604;
  color: white;
}

.mat-nav-list {
  padding: 0;
}

.mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}